{
  "sourceMaps": true,
  "presets": [
    "es2015",
    ["env", {
      "targets": {
        "browsers": ["> 1%"]
      }
    }]
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
