{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "_c": true,
        "$": false
    },
	"extends": "airbnb",
	"rules": {
		"indent": ["warn", "tab"],
		"react/jsx-indent": ["warn", "tab"],
		"no-spaced-func": "warn",
		"space-before-function-paren": ["warn", "never"],
		"space-in-parens": ["warn", "never"],
		"space-infix-ops": ["error"],
		"key-spacing": ["error", {
			"beforeColon": true,
			"align": "colon"
		}],
		"prefer-arrow-callback": "warn",
		"no-unused-vars": "error",
		"max-len": "warn",
		"prefer-template": "warn"
	},
	"plugins": ["react"]
}
