{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"indent": ["warn", "tab"],
		"react/jsx-indent": ["warn", "tab"],
		"no-spaced-func": "warn",
		"space-before-function-paren": ["warn", "never"],
		"space-in-parens": ["warn", "never"],
		"space-infix-ops": ["error"],
		"key-spacing": ["error", {
			"beforeColon": true,
			"align": "colon"
		}],
		"prefer-arrow-callback": "warn",
		"no-unused-vars": "error"
	},
	"plugins": ["react"]
}
