
@import '~style/helpers';

.grid {
  padding-top: 25vh;
  padding-bottom: 25vh;
  background: $background-color;
  position: relative;

  > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
