
@import '~style/helpers';

.grid {
  padding-top: 25vh;
  padding-bottom: 25vh;
  background-color: #f9f7f9;
  position: relative;

  > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
