
@import '~style/helpers';

.grid {
  background: $background-color;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
