
@import '~style/helpers';

@keyframes onEnter {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-content {
  padding: $header-height 0 20px;
  position: relative;
  color: $white;
  line-height: 1;
  z-index: 1;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
    height: calc(100vh - #{$header-height + 20px});
    max-height: 500px;

    > * {
      width: 100%;
      margin: 0;
    }
  }

  h1, h2 {
    animation-duration: 1s;
    animation-name: onEnter;
    animation-fill-mode: both;

    body[data-loading] & {
      animation-play-state: paused;
    }
  }

  h1 {
    font-size: 94px;
    animation-delay: 0.2s;
  }

  h2 {
    font-size: 70px;
    animation-delay: 0.4s;
  }

  mark {
    background-color: transparent;
    color: $pink;
  }
}

.content {
  padding-top: 25vh;
  padding-bottom: 25vh;
  background: $background-color;
  position: relative;
  font-size: 20px;
  line-height: 1.5;

  .intro {
    font-size: 30px;
    line-height: 1.25;
    font-weight: 700;
  }
}

.container-narrow {
  max-width: 50vw;
  margin: 0 auto;
}
