
@import '~style/helpers';

.content {
  background: $background-color;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .intro {
    font-size: 22px;
    line-height: 1.25;
    font-weight: 700;

    @media (min-width: $breakpoint-small) {
      font-size: 30px;
    }
  }

  a {
    color: inherit;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #149dcc;
      transition: height 0.25s;
    }

    &:hover {
      &:before {
        height: 6px;
      }
    }
  }
}

.container-narrow {
  margin: 0 25px;

  @media (min-width: $breakpoint-small) {
    max-width: 75vw;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: 50vw;
  }
}

.table {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  &-col {
    width: percentage(1 / 3);
    max-width: percentage(1 / 3);
    flex: 1 0 percentage(1 / 3);
    padding: 0 15px;

    ul {
      margin: 0;
      padding: 0;
      list-style: 0;
    }
  }

  &-header {
    font-weight: 700;
  }
}
