
@import '~style/helpers';

.content {
  background: $background-color;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .intro {
    font-size: 22px;
    line-height: 1.25;
    font-weight: 700;

    @media (min-width: $breakpoint-small) {
      font-size: 30px;
    }
  }
}

.links {
  color: inherit;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: $teal;
    transition: height 0.25s;
  }

  &:hover {
    &::before {
      height: 6px;
    }
  }
}

.table {
  margin-top: 100px;
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: $breakpoint-small) {
    display: flex;
  }

  &-col {
    padding: 0 15px;

    @media (min-width: $breakpoint-small) {
      @include flex-col(percentage(1 / 3));
    }

    @media (max-width: ($breakpoint-small - 1px)) {
      & + & {
        margin-top: 2em;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 0.5em;

      + li {
        border-top: 1px solid fade-out($black, 0.85);
      }
    }
  }

  &-header {
    font-weight: 700;
  }
}
