
@import '~style/helpers';

$grid-item-distance: 20px;

.grid-item {
  @include flex-col(100%);
  display: flex;
  margin: 0 0 3em;
  perspective: 100vw;

  @media (min-width: $breakpoint-medium) {
    @include flex-col(calc(50% - #{$grid-item-distance}));
    margin-bottom: 4em;
  }

  &:hover {
    h4 {
      transform: translateZ(15px);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-medium) {
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  &:nth-child(odd) {
    h4 {
      @media (min-width: $breakpoint-medium) {
        left: -25px;
      }

      @media (min-width: $breakpoint-large) {
        left: -30px;
      }
    }
  }

  &:nth-child(even) {

    h4 {
      @media (min-width: $breakpoint-medium) {
        margin-top: -45px;
        padding-right: 1em;
        left: 15px;
      }

      @media (min-width: $breakpoint-large) {
        margin-top: -42px;
      }
    }
  }

  &:nth-child(3n+1) {
    &:hover {
      .grid-item-wrapper {
        transform: rotateY(-8deg) rotateX(3deg);
      }
    }
  }

  &:nth-child(3n+2) {
    &:hover {
      .grid-item-wrapper {
        transform: rotateY(8deg) rotateX(3deg);
      }
    }
  }

  &:nth-child(3n) {
    &:hover {
      .grid-item-wrapper {
        transform: rotateY(-3deg) rotateX(8deg);
      }
    }
  }

  .grid-item-wrapper {
    will-change: transform;
  }

  a {
    padding: 1em;
    color: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: fade-out($white, 0.7);
  }

  h4 {
    margin: 0 0 0.5em;
    background: linear-gradient(180deg, $blue 0%, $teal 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-family: $header-font-family;
    position: relative;
    transition: transform 0.5s, opacity 0.5s;
    will-change: transform, opacity;

    @media (min-width: $breakpoint-medium) {
      font-size: 34px;
      margin-left: -1rem;
    }

    @media (min-width: $breakpoint-large) {
      font-size: 48px;
    }
  }

  p {
    text-align: right;
    margin: 1em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .read-more {
    margin-top: 2em;
  }

  &-wrapper {
    width: 100%;
    max-width: 100%;
    border: ($grid-item-distance / 2) solid $white;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  &-content {
    position: relative;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
      + * {
        margin-left: 10px;
      }
    }
  }

  [data-likes] {
    &::after {
      content: attr(data-likes);
      font-family: $body-font-family;
    }
  }

  [data-likes='0'] {
    display: none;
  }

  .language {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/assets/images/repo-js.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .css {
    background-image: url('/assets/images/repo-css.svg');
  }

  .php {
    background-image: url('/assets/images/repo-php.svg');
  }

  .html {
    background-image: url('/assets/images/repo-html.svg');
  }

  .fa-star-0 {
    &::before {
      margin-right: 2px;
    }
  }
}

.read-more {
  font-size: 80%;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(180deg, $blue 0%, $teal 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
