
@import 'assets/styles/common/mixins';
@import 'assets/styles/common/variables';

.footer {
	background-color: $color-blue-dark;
	padding: 60px 0 50px;
	position: relative;
	overflow: hidden;
	contain: style;
	line-height: 1;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		min-width: 1250px;
		transform: translate(-50%, -50%);
		opacity: 1;
		contain: style;

		~ * {
			position: relative;
		}
	}

	.flex {
		@media (max-width: $breakpoint-mini-max) {
			flex-direction: column;
			align-items: center;
		}
	}

	.col-right {
		@media (max-width: $breakpoint-mini-max) {
			margin-top: 2em;
		}
	}

	path {
		transition: 2s stroke-dashoffset;
	}

	&-nav {
		font-weight: 200;
		font-size: 14px;

		ul {
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
		}

		li {
			+ li {
				border-left: 1px solid fade-out($color-white, 0.5);
				margin-left: 10px;
				padding-left: 10px;
			}
		}

		a {
			padding: 10px 3px;

			&,
			&:hover,
			&:focus {
				color: $color-white;
			}
		}

		&-right {
			ul {
				@media (max-width: $breakpoint-mini-max) {
					flex-direction: column;
					align-items: center;
				}
			}

			li {
				+ li {
					@media (max-width: $breakpoint-mini-max) {
						border: 0;
						margin: 1em 0 0;
						padding: 0;
					}
				}
			}
		}
	}
}
