//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Variables
// ========================================================================

$title-font-size: 44px;
$title-color: $color-white;

$link-background-color: $color-orange;
$link-color: $color-white;

// ========================================================================
// Component
// ========================================================================

.banner {
	padding: 50px 0;
	color: $title-color;
	position: relative;
	perspective-origin: top center;
	perspective: 100vw;
	contain: paint;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: $breakpoint-small) {
		padding: 75px 0;
	}

	@media (min-width: $breakpoint-large) {
		padding: 100px 0;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(to bottom, rgba(31, 34, 50, 1) 0%, rgba(31, 34, 50, 0.5) 50%, rgba(31, 34, 50, 1) 100%);
	}

	&.loaded {
		.banner {
			&-title {
				transition: 1s transform 0.5s,
							1s opacity 0.5s;
				opacity: 1;
				transform: none;
			}
		}
	}

	&-title {
		font-size: 26px;
		font-weight: 200;
		transform-style: preserve-3d;
		transform-origin: center;
		transform: rotateX(-9deg) rotateY(7deg);
		opacity: 0;
		will-change: opacity, transform;

		@media (min-width: $breakpoint-small) {
			font-size: 36px;
		}

		@media (min-width: $breakpoint-medium) {
			font-size: $title-font-size;
		}

		&.no-trans {
			transition: none !important;
		}

		a {
			box-shadow: 0 -3px 0 0 $link-background-color inset;
			color: transparent;
			display: inline-block;
			padding-left: 0.2em;
			padding-right: 0.2em;
			position: relative;
			perspective: 1000px;
			perspective-origin: bottom center;
			transition: 0.35s background-color,
						0.35s color;
			will-change: background-color, color;
			contain: paint;
			backface-visibility: hidden;

			&:before {
				content: '';
				position: absolute;
				background-color: $link-background-color;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transform-style: preserve-3d;
				transform-origin: bottom center;
				transition: 0.5s transform;
				transform: rotateX(90deg);
				will-change: transform;
				backface-visibility: hidden;
			}

			&:after {
				content: attr(data-text);
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
				text-align: center;
				color: $link-color;
				backface-visibility: hidden;
			}

			&:hover {
				&:before {
					transform: rotateX(0deg);
				}
			}
		}
	}
}
