//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Variables
// ========================================================================

$link-transition-duration: $global-transition-duration;
$link-color: $color-orange;
$link-color-hover: darken($link-color, 7%);

// ========================================================================
// Component
// ========================================================================

body {
	overflow-x: hidden;

	@media (max-width: $breakpoint-small-max) {
		perspective: 100vh;
		perspective-origin: 50vw 50vh;
		transition: 0.5s background-color;
		will-change: background-color;

		.menu-open & {
			background-color: fade-out($global-font-color, 0.5);
		}
	}

	&.hidden {
		display: block;
		opacity: 0;
	}
}

a {
	transition: color $link-transition-duration;
	color: $link-color;

	&:hover,
	&:focus {
		color: $link-color-hover
	}
}

main {
	background-color: $color-white;
}

.hidden {
	display: none;
}

.container {
	&-center {
		margin-left: auto;
		margin-right: auto;
	}
}

@keyframes hideBodyWrap {
	to {
		transform: translate(-50vw) rotateY(35deg) translateZ(-175px);
		opacity: 0.5;
	}
}

@keyframes showBodyWrap {
	from {
		transform: translate(-50vw) rotateY(35deg) translateZ(-175px);
		opacity: 0.5;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

// #app {
// 	opacity: 0;
// 	transition: 0.5s opacity;

// 	html.loaded & {
// 		opacity: 1;
// 	}
// }
