//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Variables
// ========================================================================

$link-transition-duration: $global-transition-duration;
$link-color: $color-orange;
$link-color-hover: darken($link-color, 7%);

// ========================================================================
// Component
// ========================================================================

body {
	overflow-x: hidden;
	background-image: data-uri('../images/icon.svg');
	// background-image: url('data:image/svg+xml;utf8,' + '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" width="100%" viewBox="0 0 670.15 670.15"><defs><symbol id="s-text"><text transform="translate(56.77 440.27)" font-size="374.98" font-family="Proxima Nova">312</text></symbol><mask id="m-text" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"><rect width="670.15" height="670.15" fill="#fff" /><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" /></mask></defs><rect width="670.15" height="670.15" mask="url(#m-text)" fill="#ef4e76" /><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" fill="transparent" /></svg>');
	// background-image: data-uri('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" width="100%" viewBox="0 0 670.15 670.15"><defs><symbol id="s-text"><text transform="translate(56.77 440.27)" font-size="374.98" font-family="Proxima Nova">312</text></symbol><mask id="m-text" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"><rect width="670.15" height="670.15" fill="#fff" /><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" /></mask></defs><rect width="670.15" height="670.15" mask="url(#m-text)" fill="#ef4e76" /><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" fill="transparent" /></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 200px;
	min-height: 100vh;

	@media (max-width: $breakpoint-small-max) {
		perspective: 100vh;
		perspective-origin: 50vw 50vh;
		transition: 0.5s background-color;
		will-change: background-color;

		.menu-open & {
			background-color: fade-out($global-font-color, 0.5);
		}
	}

	&.hidden {
		display: block;
		opacity: 0;
	}
}

a {
	transition: color $link-transition-duration;
	color: $link-color;

	&:hover,
	&:focus {
		color: $link-color-hover
	}
}

main {
	background-color: $color-white;
}

.hidden {
	display: none;
}

.container {
	&-center {
		margin-left: auto;
		margin-right: auto;
	}
}

@keyframes hideBodyWrap {
	to {
		transform: translate(-50vw) rotateY(35deg) translateZ(-175px);
		opacity: 0.5;
	}
}

@keyframes showBodyWrap {
	from {
		transform: translate(-50vw) rotateY(35deg) translateZ(-175px);
		opacity: 0.5;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

// #app {
// 	opacity: 0;
// 	transition: 0.5s opacity;

// 	html.loaded & {
// 		opacity: 1;
// 	}
// }
