
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: hsla(24, 20%, 50%,.08);
	background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid #999;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
div.prism-show-language {
	position: relative;
}

div.prism-show-language > div.prism-show-language-label {
	color: black;
	background-color: #CFCFCF;
	display: inline-block;
	position: absolute;
	bottom: auto;
	left: auto;
	top: 0;
	right: 0;
	width: auto;
	height: auto;
	font-size: 0.9em;
	border-radius: 0 0 0 5px;
	padding: 0 0.5em;
	text-shadow: none;
	z-index: 1;
	box-shadow: none;
	transform: none;
}



// Font definition
$code-font-size:    16px;

// Monokai colors
$monokay-background:#272822;
$monokai-gray:      #75715E;
$monokai-red:       #F92672;
$monokai-green:     #A6E22E;
$monokai-yellow:    #E6DB74;
$monokai-blue:      #76d9e6;
$monokai-white:     #F8F8F0;
$monokai-violet:    #AE81FF;

// prism variables
$code-background:         $monokay-background;
$code-color-comment:      $monokai-gray;
$code-color-keyword:      $monokai-red;
$code-color-keyword2:     $monokai-blue;
$code-color-value:        $monokai-blue;
$code-color-string:       $monokai-yellow;
$code-color-name:         $monokai-yellow;
$code-color-number:       $monokai-violet;
$code-color-variable:     $monokai-white;
$code-color-selector:     $monokai-green;
$code-color-function:     $monokai-green;
$code-color-class-ext:    $monokai-green;
$code-color-const:        $monokai-violet;
$code-color-docblock:     $monokai-red;
$code-color-operator:     $monokai-red;
$code-color-punctuation:  $monokai-white;
$code-color-punctuation2: $monokai-red;
$code-color-datatype:     $monokai-blue;

pre {
	.token {
		&.punctuation2 {
			color: $code-color-punctuation2;
		}

		&.datatype {
			color: $code-color-datatype;
		}

		&.operator {
			color: $code-color-operator;
		}

		&.keyword2 {
			color: $code-color-keyword2;
		}

		&.class-extension {
			color: $code-color-class-ext;
		}

		&.dockblock {
			color: $code-color-docblock;
		}

		&.const {
			color: $code-color-const;
		}

		&.scope .keyword {
			color: $code-color-keyword2;
		}

		&.function {
			color: $code-color-function;
		}

		&.punctuation {
			color: $code-color-punctuation;
		}
	}
}
