
$code-color-main: #f8f8f2;
$code-text-shadow: rgba(0, 0, 0, 0.3);

// Font definition
$code-font-size:    16px;

// Monokai colors
$monokay-background:#272822;
$monokai-gray:      #75715e;
$monokai-red:       #f92672;
$monokai-green:     #a6e22e;
$monokai-yellow:    #e6db74;
$monokai-blue:      #76d9e6;
$monokai-white:     #f8f8f0;
$monokai-violet:    #ae81ff;

// prism variables
$code-background:         $monokay-background;
$code-color-comment:      $monokai-gray;
$code-color-keyword:      $monokai-red;
$code-color-keyword2:     $monokai-blue;
$code-color-value:        $monokai-blue;
$code-color-string:       $monokai-yellow;
$code-color-name:         $monokai-yellow;
$code-color-number:       $monokai-violet;
$code-color-variable:     $monokai-white;
$code-color-selector:     $monokai-green;
$code-color-function:     $monokai-green;
$code-color-class-ext:    $monokai-green;
$code-color-const:        $monokai-violet;
$code-color-docblock:     $monokai-red;
$code-color-operator:     $monokai-red;
$code-color-punctuation:  $monokai-white;
$code-color-punctuation2: $monokai-red;
$code-color-datatype:     $monokai-blue;
$code-comment-color: #708090;
$color-color-keyword: #66d9ef;
$color-color-regex: #fd971f;
$highlight-background-color: hsla(24, 20%, 50%, 0.08);
$highlight-gradient-one: hsla(24, 20%, 50%, 0.1);
$highlight-gradient-two: hsla(24, 20%, 50%, 0);

code,
pre {
	&[class*='language-'] {
		color: $code-color-main;
		background: none;
		text-shadow: 0 1px $code-text-shadow;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		tab-size: 4;
		hyphens: none;
	}
}

pre {
	&[class*='language-'] {
		padding: 1em;
		margin: 0.5em 0;
		overflow: auto;
		border-radius: 0.3em;
	}
}

:not(pre) > code,
pre {
	&[class*='language-'] {
		background: $monokay-background;
	}

	[data-line] {
		position: relative;
		padding: 1em 0 1em 3em;
	}
}

:not(pre) > code {
	&[class*='language-'] {
		padding: 0.1em;
		border-radius: 0.3em;
		white-space: normal;
	}
}

.namespace {
	opacity: 0.7;
}

.language-css .token.string,
.style .token.string {
	color: $code-color-main;
}

.token {

	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: $code-comment-color;
	}

	&.punctuation {
		color: $code-color-punctuation;
	}

	&.property,
	&.tag,
	&.constant,
	&.symbol,
	&.deleted {
		color: $monokai-red;
	}

	&.operator,
	&.entity,
	&.url,
	&.variable {
		color: $code-color-main;
	}

	&.boolean,
	&.number {
		color: $monokai-violet;
	}

	&.selector,
	&.attr-name,
	&.string,
	&.char,
	&.builtin,
	&.inserted {
		color: $monokai-green;
	}

	&.atrule,
	&.attr-value,
	&.function {
		color: $monokai-yellow;
	}

	&.keyword {
		color: $color-color-keyword;
	}

	&.regex,
	&.important {
		color: $color-color-regex;
	}

	&.important,
	&.bold {
		font-weight: bold;
	}

	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}

	&.punctuation2 {
		color: $code-color-punctuation2;
	}

	&.datatype {
		color: $code-color-datatype;
	}

	&.operator {
		color: $code-color-operator;
	}

	&.keyword2 {
		color: $code-color-keyword2;
	}

	&.class-extension {
		color: $code-color-class-ext;
	}

	&.dockblock {
		color: $code-color-docblock;
	}

	&.const {
		color: $code-color-const;
	}

	&.scope 0.keyword {
		color: $code-color-keyword2;
	}

	&.function {
		color: $code-color-function;
	}
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background-color: $highlight-background-color;
	background-image: linear-gradient(to right, $highlight-gradient-one 70%, $highlight-gradient-two);
	pointer-events: none;
	line-height: inherit;
	white-space: pre;

	&:before,
	&[data-end]:after {
		content: attr(data-start);
		position: absolute;
		top: 0.4em;
		left: 0.6em;
		min-width: 1em;
		padding: 0 0.5em;
		background-color: hsla(24, 20%, 50%, 0.4);
		color: hsl(24, 20%, 95%);
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: 0.3em;
		border-radius: 999px;
		text-shadow: none;
		box-shadow: 0 1px $color-white;
	}

	&[data-end]:after {
		content: attr(data-end);
		top: auto;
		bottom: 0.4em;
	}
}

.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;

	> code {
		position: relative;
	}

	.line-numbers-rows {
		position: absolute;
		pointer-events: none;
		top: 0;
		font-size: 100%;
		left: -3.8em;
		width: 3em;
		letter-spacing: -1px;
		border-right: 1px solid #999;
		user-select: none;
	}

	> span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;

		&:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
	}
}

.prism-show-language {
	position: relative;

	> .prism-show-language-label {
		color: $color-black;
		background-color: #cfcfcf;
		display: inline-block;
		position: absolute;
		bottom: auto;
		left: auto;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		font-size: 0.9em;
		border-radius: 0 0 0 5px;
		padding: 0 0.5em;
		text-shadow: none;
		z-index: 1;
		box-shadow: none;
		transform: none;
	}
}
