//
// Hamburger
// ==================================================

// ========================================================================
// Variables
// ========================================================================

// scss-lint:disable SpaceAfterVariableName
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : $global-font-color !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
$hamburger-hover-use-filter                : false !default;
$hamburger-hover-filter                    : opacity(50%) !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
	spin,
) !default;

// Hamburger types/import
// ==================================================
@import '../common/types/spin';

.hamburger {
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: $hamburger-hover-transition-duration;
	transition-timing-function: $hamburger-hover-transition-timing-function;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;

	@media (min-width: $breakpoint-medium) {
		display: none;
	}

	&-box {
		width: $hamburger-layer-width;
		height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
		display: inline-block;
		position: relative;
		top: 4px;
	}

	&-inner {
		display: block;
		top: 50%;
		margin-top: $hamburger-layer-height / -2;

		&,
		&:before,
		&:after {
			width: $hamburger-layer-width;
			height: $hamburger-layer-height;
			background-color: $hamburger-layer-color;
			border-radius: $hamburger-layer-border-radius;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		&:before,
		&:after {
			content: '';
			display: block;
		}

		&:before {
			top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
		}

		&:after {
			bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
		}
	}
}
