

$list-inline-margin: 5px;

.list {
	padding: 0;
	list-style: none;

	&-inline {
		display: flex;

		@media (max-width: $breakpoint-mini-max) {
			flex-direction: column;
		}

		> li {
			flex: 0 1 auto;

			+ li {
				@media (min-width: $breakpoint-small) {
					margin-left: $list-inline-margin;
					padding-left: $list-inline-margin;
				}

				@media (max-width: $breakpoint-small-max) {
					margin-top: $list-inline-margin;
				}
			}
		}
	}
}
