
$animation-duration: 1.4s;

@keyframes loadingRotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(450deg);
	}
}

@keyframes loadingLine {
	0% {
		stroke-dasharray: 2, 85.964;
		transform: rotate(0);
	}

	50% {
		stroke-dasharray: 65.973, 21.9911;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dasharray: 2, 85.964;
		stroke-dashoffset: -65.973;
		transform: rotate(90deg);
	}
}

.svg-container {

	&,
	svg {
		left: 50%;
		top: 50%;
		position: absolute;
		transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
	}

	svg {
		stroke: $color-pink;
		stroke-width: 3px;
		height: 50px;
		width: 50px;
		stroke-linecap: round;
	}

	circle {
		transform-origin: 50%;
		animation: $animation-duration loadingRotate cubic-bezier(.4,0,.2,1) infinite,
				   $animation-duration loadingLine linear infinite;
	}
}
