
.services {
	font-size: 20px;
	flex-wrap: wrap;
	position: relative;
	height: 100vh;

	@media (min-width: $breakpoint-small) {
		height: 400px;
	}
}

.service {
	position: absolute;

	p {
		position: absolute;
		top: 50%;
		left: 50px;
		transform: translate(0, -50%);
		margin: 0;
		white-space: nowrap;
		color: #de8068;
	}

	&-javascript {
		$size: 140px;

		top: 10%;
		left: 0;

		@media (min-width: $breakpoint-small) {
			left: 10%;
		}

		.service-circle {
			height: $size;
			width: $size;
		}

		p {
			top: ($size / 2);
			left: ($size / 2);
		}
	}

	&-html5 {
		$size: 110px;

		bottom: 0;
		right: 15%;

		@media (min-width: $breakpoint-small) {
			bottom: 5%;
		}

		.service-circle {
			height: $size;
			width: $size;
		}

		p {
			top: ($size / 2);
			left: ($size / 2);
		}
	}

	&-react {
		$size: 105px;

		top: 53%;
		left: 0;

		.service-circle {
			height: $size;
			width: $size;
		}

		p {
			top: ($size / 2);
			left: ($size / 2);
		}
	}

	&-plugin {
		$size: 120px;

		top: 35%;
		right: 37%;

		.service-circle {
			height: $size;
			width: $size;
		}

		p {
			top: ($size / 2);
			left: ($size / 2);
		}
	}

	&-node {
		$size: 100px;

		bottom: 10%;
		left: 15%;

		@media (min-width: $breakpoint-small) {
			bottom: 0;
			left: 31%;
		}

		.service-circle {
			height: $size;
			width: $size;
		}

		p {
			top: ($size / 2);
			left: ($size / 2);
		}
	}

	&-es6 {
		$size: 105px;

		top: 5%;
		right: $size;

		@media (min-width: $breakpoint-small) {
			right: 15%;
		}

		.service-circle {
			height: $size;
			width: $size;
		}

		p {
			top: ($size / 2);
			left: ($size / 2);
		}
	}

	&-right {
		p {
			left: auto;
			right: -50px;
		}
	}

	&-figure {
		position: relative;
		height: 100px;
		font-family: $serif-font-family;
		transform-origin: 50px 50px;
		transform: rotate(-90deg);
		transition: 1s transform;
		will-change: transform;

		.active & {
			transform: rotate(0deg);
		}
	}

	&-circle {
		background-color: #dae9ec;
		border-radius: 50%;
		background-clip: padding-box;
		width: 100px;
		height: 100px;
		display: block;
		position: absolute;
	}
}
