// Name:            Print
//
// Description:     Optimize page for printing
//
// Adapted from http: //github.com/h5bp/html5-boilerplate
//
// Modifications:   Removed link `.href` and `.title` related rules

// ========================================================================
// Variables
// ========================================================================

$print-color: #000;
$print-border-color: #999;

// ========================================================================
// Component: Print
// ========================================================================

// scss-lint:disable ImportantRule
@media print {
	* {
		background-color: transparent !important;
		color: $print-color !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a {
		&,
		&:visited {
			text-decoration: underline;
		}
	}

	pre,
	blockquote {
		border: 1px solid $print-border-color;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
