
@import '~style/helpers';

.content {
  background: $background-color;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .intro {
    font-size: 30px;
    line-height: 1.25;
    font-weight: 700;
  }
}

.center {
  div {
    display: flex;
    justify-content: space-between;
  }

  a {
    $size: 36px;
    position: relative;
    color: mix($black, $background-color);
    display: block;
    height: $size;
    width: $size;
    text-align: center;
    border-radius: 50%;
    background-clip: content-box;
    transition: 0.35s color;
    line-height: 1;

    &:hover {
      color: $pink;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.container-narrow {
  max-width: 50vw;
  margin: 0 auto;

  h3 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 0 1em;
    padding: 0 0 5px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);

    ~ h3 {
      margin-top: 3em;
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  > * {
    width: 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding: 10px;
  }

  > .full {
    width: 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  input,
  textarea {
    padding: 5px;
    font-family: $body-font-family;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    border: 1px solid fade-out($black, 0.8);
    margin: 0;
    border-radius: 2px;
    transition: border-color, 0.25s;

    &:focus {
      border-color: fade-out($pink, 0.5);
    }
  }

  textarea {
    resize: 0;
    height: 150px;
  }

  button {
    border: 2px solid #ff3466;
    background: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Proxima Nova;
    line-height: 36px;
    padding: 0 30px;
    color: #ff3466;
    height: 38px;
    border-radius: 2px;
    cursor: pointer;
  }
}
