
@import '~style/helpers';

.content {
  background: $background-color;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .intro {
    font-size: 30px;
    line-height: 1.25;
    font-weight: 700;
  }
}

.center {
  div {
    display: flex;
    justify-content: space-between;
  }

  a {
    $size: 36px;
    position: relative;
    color: mix($black, $background-color);
    display: block;
    height: $size;
    width: $size;
    text-align: center;
    border-radius: 50%;
    background-clip: content-box;
    transition: 0.35s color;
    line-height: 1;

    &:hover {
      color: $pink;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.contact-title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 0 1em;
  padding: 0 0 5px;
  border-bottom: 1px solid $border-color;
  font-weight: 700;
  width: 100%;
}

.fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.form {
  margin-top: 3em;

  &-group {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-medium) {
      margin-left: -10px;
      margin-right: -10px;
    }

    > * {
      @include flex-col(100%);
      padding: 10px 0;

      @media (min-width: $breakpoint-small) {
        padding: 10px;
      }
    }

    .col {
      @media (min-width: $breakpoint-medium) {
        @include flex-col(50%);
      }
    }
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 0.25em;
  }

  input,
  textarea {
    padding: 0.25em 0.75em;
    font-family: $body-font-family;
    font-size: 16px;
    line-height: (20 / 16);
    height: 2.5em;
    border: 1px solid fade-out($black, 0.8);
    margin: 0;
    border-radius: 2px;
    transition: border-color, 0.25s;

    &:focus,
    &:active {
      border-color: fade-out($pink, 0.5);
    }
  }

  textarea {
    resize: none;
    height: 150px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  button {
    border: 2px solid $pink;
    background: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $body-font-family;
    line-height: (36 / 14);
    padding: 0.5em 5em;
    color: $pink;
    height: 52px;
    border-radius: 2px;
    cursor: pointer;
    background-color: fade-out($pink, 1);
    transition: background-color, 0.25s,
                border-color, 0.25s;

    &:hover {
      background-color: fade-out($pink, 0.9);
    }

    &:active,
    &:focus {
      background-color: fade-out($pink, 0.85);
      border-color: darken($pink, 10%);
    }
  }
}
