
@import '~style/helpers';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height;
  font-family: $header-font-family;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  z-index: 2;
  background: linear-gradient(to bottom, $header-background, transparent);

  &.dark {
    nav {
      a {
        color: $black;
      }
    }

    ~ [data-menu] {
      background-image: url('/assets/images/menu-pink.svg');
    }
  }

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    background-image: url('/assets/images/icon.svg');
  }
}

.will-change {
  .logo {
    will-change: background-image, color;
  }
}

.transitioning {
  background: $pink;
}

.menu-open {
  overflow: hidden;

  > div {
    > * {
      &:not(button) {
        opacity: 0.75;
      }
    }
  }

  [data-midnight] {
    pointer-events: 0;
  }

  > nav {
    transform: translate(0);
  }

  [data-menu] {
    background-image: url('/assets/images/menu.svg');
  }
}
