@import '~style/helpers';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height;
  font-family: $header-font-family;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.35), transparent);

  &.dark {

    .logo {
      background-image: url('/assets/images/icon-pink.svg');

      &,
      a {
        color: $pink;
      }
    }

    nav {
      a {
        color: $black;
      }
    }

    ~ [data-menu] {
      background-image: url('/assets/images/menu-pink.svg');
    }
  }

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin: 0;
    padding: 0 0 0 42px;
    font-size: 20px;
    line-height: $header-height;
    background-image: url('/assets/images/icon.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 36px;
    will-change: background-image, color;

    a {
      color: $background-color;
    }
  }
}

.transitioning {
  background: $pink;
}

.menu-open {
  overflow: hidden;

  > div {
    > *:not(button) {
      opacity: 0.75;
    }
  }

  [data-midnight] {
    pointer-events: none;
  }

  > nav {
    transform: translate(0)
  }

  [data-menu] {
    background-image: url('/assets/images/menu.svg') !important;
  }
}
