

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaLightIt.woff2') format('woff2'),
     url('/assets/fonts/ProximaNovaLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaLight.woff2') format('woff2'),
     url('/assets/fonts/ProximaNovaLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova.woff2') format('woff2'),
     url('/assets/fonts/ProximaNova.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaItalic.woff2') format('woff2'),
     url('/assets/fonts/ProximaNovaItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaBold.woff2') format('woff2'),
     url('/assets/fonts/ProximaNovaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaBoldItalic.woff2') format('woff2'),
     url('/assets/fonts/ProximaNovaBoldItalic.woff') format('woff');
  font-weight:   700;
  font-style:    italic;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/assets/fonts/Brandon_bld.woff') format('woff'),
     url('/assets/fonts/Brandon_bld.ttf') format('truetype');
  font-style:    normal;
  font-weight:   700;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/assets/fonts/Brandon_reg.woff') format('woff'),
     url('/assets/fonts/Brandon_reg.ttf')  format('truetype');
  font-style:    normal;
  font-weight:   400;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/assets/fonts/CrimsonText-Roman.woff2') format('woff2'),
     url('/assets/fonts/CrimsonText-Roman.woff') format('woff');
  font-style:    normal;
  font-weight:   400;
  unicode-range: U+000-5FF;
}
