
@import 'variables';
@import 'mixins';

.container {
  margin: 0 $gutter-width;

  @media (min-width: $breakpoint-large) {
    margin: 0 ($gutter-width * 2);
  }

  &-narrow {
    margin: 0 $gutter-width;

    @media (min-width: $breakpoint-medium) {
      margin: 0 ($gutter-width * 2);
    }

    @media (min-width: $breakpoint-large) {
      width: 75vw;
      max-width: 850px;
      margin: 0 auto;
    }
  }
}

.page {
  position: relative;
}
