
@import 'helpers';

@import 'fonts';
@import 'normalize';

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  padding: 0;
  background: $background-color;
  font-family: $body-font-family;
  font-weight: 400;
  color: #444;
  font-smoothing: antialiased;

  @media (max-width: $breakpoint-small + 1px) {
    background: $pink;
  }
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

.loading {
  height: 100vh;
  overflow: hidden;
}

[data-menu] {
  height: 40px;
  width: 40px;
  padding: 0;
  background: 0;
  border: 0;
  appearance: 0;
  cursor: pointer;
  background-image: url('/assets/images/menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 25px;
  top: 33px;
  transform: translate(0, -50%);
  z-index: 2;

  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

.main {
  max-width: 100vw;
  overflow: hidden;

  @media (max-width: $breakpoint-small - 1px) {
    transition: opacity 0.5s;
  }

  &:not(.complete) {
    &::before {
      content: '';
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: fade-out($white, 0.05);
    background-image: url('/assets/images/loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
  }

  &.ready {
    &::before {
      transition: 0.5s opacity;
      opacity: 0;
    }
  }

  &.complete {
    &::before {
      display: none;
    }
  }
}

.internal {
  .banner {
    > * {
      height: 450px;
    }
  }
}
