
@import 'variables';

// Document
// ========================================================================== */

html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}

// Sections
// ========================================================================== */

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

// Grouping content
// ========================================================================== */

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre,
code {
  font-family: monospace, monospace;
  font-size: 1em;
}

// Text-level semantics
// ========================================================================== */

a {
  background-color: transparent;
  text-decoration-skip: objects;
}

:active,
:hover {
  outline-width: 0;
}

strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

mark {
  background-color: $yellow;
  color: $black;
}

small {
  font-size: 80%;
}

// Embedded content
// ========================================================================== */

img {
  border-style: 0;
}

svg {
  &:not(:root) {
    overflow: hidden;
  }
}

// Forms
// ========================================================================== */

button,
input,
// optgroup,
// select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;

  &:focus-inner {
    border-style: 0;
    padding: 0;
  }

  &:focusring {
    outline: 1px dotted ButtonText;
  }
}

textarea {
  overflow: auto;
}

// Hidden
// ========================================================================== */

[hidden] {
  display: none;
}
