
$red: #F00;
$blue: #00F;
$white: #FFF;
$gray: #999;
$black: #111;
$pink: #ff3466;
$background-color: #f9f7f9;

$header-height: 66px;

$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-family: 'Proxima Nova', $sans-serif;
$header-font-family: 'Brandon Grotesque', $sans-serif;
