
.aside {
	text-align: center;

	&-title {
		font-family: $serif-font-family;
		font-size: 44px;
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		position: relative;
		line-height: 1;

		@media (min-width: $breakpoint-small) {
			font-size: 64px;
		}

		@media (min-width: $breakpoint-xlarge) {
			font-size: 70px;
		}

		&:before {
			content: '';
			display: block;
			height: 1px;
			width: 20%;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			position: absolute;
			background-color: $global-font-color;
		}

		+ p {
			margin-top: 0;
		}

		~ p {
			font-size: 20px;

			a {
				@include content-link($color-orange);
			}
		}
	}
}
