// Name:            Nav
//
// Description:     Defines styles for navigation items
//
// Component:       `.topnav`
//

// ========================================================================
// Variables
// ========================================================================

$logo-color: $global-font-color;

// ========================================================================
// Component
// ========================================================================

.header {
	padding: 20px 0;
	background-color: $color-white;

	@media (min-width: $breakpoint-small) {
		padding: 25px 0;
	}
}

.logo {
	margin: 0;
	font-size: 28px;
	white-space: nowrap;

	@media (max-width: $breakpoint-small-max) {
		font-size: 28px;
		text-align: center;
	}

	a {
		color: $logo-color;
		display: block;
		transition: 0.25s color;

		&:hover {
			.no-touch & {
				color: $color-pink;
			}

			.icon {
				background-color: $color-pink;
			}
		}
	}

	.icon {
		display: inline-block;
		background-color: $logo-color;
		color: $color-white;
		padding: 0 0.2em;
		margin-right: 0.1em;
		transition: 0.25s background-color;
		line-height: (52 / 28);
		width: 52px;
	}

	&-col {
		position: relative;

		@media (max-width: $breakpoint-small-max) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
