//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Variables
// ========================================================================

$main-background-color: $global-background-color;

$transition-out-duration: 0.5s;
$transition-in-duration: $transition-out-duration + ($transition-out-duration * 0.3);

// ========================================================================
// Component: Base
// ========================================================================

.body-wrap {
	position: relative;

	// @media (max-width: $breakpoint-small-max) {
	// 	position: relative;
	// 	z-index: 1;
	// 	transform-style: preserve-3d;

	// 	.menu-open & {
	// 		animation: $global-menu-transition-duration hideBodyWrap both;
	// 		overflow: hidden;
	// 		height: 100vh;
	// 		pointer-events: none;
	// 	}

	// 	.menu-closed & {
	// 		animation: $global-menu-transition-duration showBodyWrap both;
	// 	}

	// 	&:after {
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		width: 0;
	// 		height: 0;
	// 		background-color: fade-out($color-black, 0.4);
	// 		content: '';
	// 		opacity: 0;
	// 		transition: opacity $global-menu-transition-duration,
	// 		width ($global-menu-transition-duration / 5) $global-menu-transition-duration,
	// 		height ($global-menu-transition-duration / 5) $global-menu-transition-duration;

	// 		.menu-open & {
	// 			width: 100%;
	// 			height: calc(100% + 1px);
	// 			opacity: 1;
	// 			transition: opacity $global-menu-transition-duration;
	// 		}
	// 	}
	// }
}

.main {
	background-color: $color-blue-dark;
	position: relative;

	&.work,
	&.single {
		@media (max-width: $breakpoint-small-max) {
			padding-bottom: 0;
		}
	}

	&-no-padding-top {
		padding-top: 0;
	}

	@media (max-width: $breakpoint-small-max) {
		position: relative;
		z-index: 1;
		transform-style: preserve-3d;
		transition: $transition-out-duration transform,
					$transition-out-duration opacity;
		transform-origin: 50% 50vh;

		.menu-open & {
			transform: scale(0.9);
			opacity: 0.15;
			// animation: $global-menu-transition-duration hideBodyWrap both;
			// overflow: hidden;
			// height: 100vh;
			// pointer-events: none;
		}

		// .menu-closed & {
		// 	animation: $global-menu-transition-duration showBodyWrap both;
		// }

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			background-color: fade-out($color-black, 0.4);
			opacity: 0;
			transition: opacity $global-menu-transition-duration,
			width ($global-menu-transition-duration / 5) $global-menu-transition-duration,
			height ($global-menu-transition-duration / 5) $global-menu-transition-duration;

			.menu-open & {
				content: '';
				width: 100%;
				height: calc(100% + 1px);
				opacity: 1;
				transition: opacity $global-menu-transition-duration;
			}
		}
	}
}

.transition-group {
	// perspective: 100vw;
	// perspective-origin: top center;

	> div {
		will-change: transform, opacity;
		// background-color: $main-background-color;
	}
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	margin-left: ($global-gutter / -2);
	margin-right: ($global-gutter / -2);

	@media (min-width: $breakpoint-small) {
		margin-left: ($global-gutter-large / -2);
		margin-right: ($global-gutter-large / -2);
	}

	&,
	> [class*="col-"] {
		position: relative;
	}

	> [class*="col-"] {
		padding-left: ($global-gutter / 2);
		padding-right: ($global-gutter / 2);

		@media (min-width: $breakpoint-small) {
			padding-left: ($global-gutter-large / 2);
			padding-right: ($global-gutter-large / 2);
		}
	}
}

.container-fluid {
	padding-left: $global-gutter;
	padding-right: $global-gutter;

	@media (min-width: $breakpoint-small) {
		padding-right: $global-gutter-large;
		padding-left: $global-gutter-large;
	}
}

.col-xs-12 {
	& + & {
		@media (max-width: $breakpoint-mini-max) {
			margin-top: $global-gutter;
		}
	}
}
