// Name:            Nav
//
// Description:     Defines styles for navigation items
//
// Component:       `.topnav`
//

// ========================================================================
// Variables
// ========================================================================

// ========================================================================
// Component
// ========================================================================

.mobile-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 75vw;
	height: 100vh;
	transform: translate(75vw, 0);
	display: flex;
	padding-top: 15vh;
	opacity: 0;
	transition: $menu-transition-duration transform,
				$menu-transition-duration opacity;
	text-align: right;
	z-index: 2;

	.menu-open & {
		transform: translate(0, 0);
		opacity: 1;
	}

	.nav-menu {
		width: 100%;
		padding-right: 20px;

		// > li {
		// 	+ li {
		// 		border: 0;
		// 	}

		// 	a {
		// 		color: $color-white;
		// 		display: inline-block;
		// 		padding: 20px 0 5px;
		// 	}
		// }
	}

	li {
		+ li {
			border: 0;
		}
	}

	a {
		color: $color-white;
		display: inline-block;
		padding: 20px 0 5px;
		font-size: 24px;
		font-family: $global-font-family;
		text-transform: uppercase;
		font-weight: 200;
		letter-spacing: 10px;
		line-height: (42 / 36);
	}

	.active {
		a {
			box-shadow: 0 -3px 0 0 $color-orange inset;
		}
	}

	@media (min-width: $breakpoint-medium) {
		display: none;
	}
}
