// Name:            Nav
//
// Description:     Defines styles for navigation items
//
// Component:       `.topnav`
//

// ========================================================================
// Variables
// ========================================================================

$menu-transition-duration: $global-menu-transition-duration;

$menu-border-color: fade-out($color-black, 0.9);

$link-padding-horizontal-small: 20px;
$link-padding-large: 10px;

$menu-item-color: $global-font-color;

// ========================================================================
// Component
// ========================================================================

.nav-menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-size: 22px;
	line-height: (24 / 16);
	font-family: $serif-font-family;
	position: relative;
	// contain: paint content size layout style;
	contain: paint;

	@media (min-width: $breakpoint-medium) {
		margin-left: -$link-padding-large;
	}

	@media (max-width: $breakpoint-medium) {
		flex-direction: column;
	}

	.line {
		position: absolute;
		bottom: -10px;
		left: 0;
		height: 3px;
		background-color: $color-orange;
		width: 73px;
		left: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		will-change: transform, width, bottom;

		@media (max-width: $breakpoint-small-max) {
			display: none;
		}

		&.active {
			bottom: 0;
			opacity: 1;
			transition: 0.5s transform,
						0.5s width,
						0.5s bottom;
		}
	}

	> li {
		position: relative;

		@media (max-width: $breakpoint-medium) {

			+ li {
				border-top: 1px solid $menu-border-color;
				margin: 0;
				padding: 0;
			}
		}

		a {
			display: block;
			padding: 10px $link-padding-horizontal-small;
			color: $menu-item-color;
			transition: $global-link-transition-duration;
			position: relative;

			@media (min-width: $breakpoint-medium) {
				padding: $link-padding-large;
			}
		}
	}
}
