
$transition-delay: 0.75s;
$figure-offset: 15vh;

.work {
	&-section {
		margin: 50px -20px 0;

		@media (min-width: $breakpoint-small) {
			margin-left: -30px;
			margin-right: -30px;
		}

		@media (min-width: $breakpoint-medium) {
			display: flex;
			margin: 100px 0 0;
		}
	}

	&-grid {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		@media (min-width: $breakpoint-medium) {
			transform: translate(0, -250px);
			will-change: transform;
		}

		.loaded & {
			@media (min-width: $breakpoint-small) {
				transition: 1s transform cubic-bezier(0.770, 0.000, 0.175, 1.000) $transition-delay;
				transform: translate(0, 0);
			}
		}
	}

	&-block {
		width: 100%;
		position: relative;
		display: block;
		overflow: hidden;
		contain: style;
		transform: translate(0, 15px);
		will-change: transform, opacity;
		transition: 0.5s transform 1s,
					0.5s opacity 1s;

		@media (min-width: $breakpoint-medium) {
			width: 50%;
		}

		&:nth-child(even) {
			.work-figure {
				top: auto;
				bottom: 0;
			}
		}

		&.dark {
			.work-block-content {
				color: $global-font-color;
			}
		}

		a {
			display: block;
			height: 100%;
			position: relative;
			will-change: opacity, transform;
			transition: 0.5s opacity 1s,
						0.5s transform 1s;

			&:hover {
				.work-block {
					&-figure {
						opacity: 0;
					}
				}

				.preview {
					opacity: 1;
					transform: translate(0, 0);
				}
			}
		}

		&-content {
			color: $color-white;
			padding: 50px 25px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (min-width: $breakpoint-medium) {
				padding: 50px;
			}

			.tag {
				font-size: 14px;
				letter-spacing: 10px;
				text-transform: uppercase;
			}

			h3 {
				font-size: 26px;
				letter-spacing: 5px;
			}

			.preview {
				font-size: 32px;
				font-family: $serif-font-family;
				opacity: 0;
				transition: 0.5s transform,
							0.5s opacity;
				will-change: opacity, transform;
				transform: translate(-15px, 0);

				html.touch & {
					display: none;
				}
			}
		}

		&-figure {
			position: absolute;
			top: 0;
			left: -15px;
			right: -15px;
			height: calc(100% + #{$figure-offset});
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.15;
			-webkit-filter: sepia(80%);
			filter: sepia(80%);
			margin: 0;
			will-change: opacity;
			transition: 0.35s opacity;
		}
	}
}

.related-work {
	&-section {
		@media (min-width: $breakpoint-medium) {
			margin: 0;
		}
	}

	&-grid {
		padding: 0;
		margin: 0;
		list-style: none;

		@media (min-width: $breakpoint-medium) {
			display: flex;
		}

		> li {
			@media (min-width: $breakpoint-medium) {
				width: 50%;
			}
		}
	}

	&-block {
		transform: none;
	}
}

.not-loaded {
	display: none;
	opacity: 0;
	transform: translate(0, -100%);
}
