
$col-padding: 50px;
$transition-duration: 0.7s;

.about {
	&-banner {
		background-image: url('../images/about.jpg');
	}
}

.where-i-work {
	position: relative;
	height: 60vh;

	@media (min-width: $breakpoint-small) {
		height: 500px;
	}
}

.where-figure {
	position: absolute;
	width: 70%;
	transition: $transition-duration opacity,
				$transition-duration transform;
	will-change: opacity, transform;
	opacity: 0;
	transform: translate(0, 50px);
	margin: 0;
	border: 10px solid $color-white;

	@media (min-width: $breakpoint-small) {
		width: 45%;
	}

	@media (max-width: $breakpoint-small-max) {
		img {
			max-height: 100%;
		}
	}

	.active & {
		opacity: 1;
		transform: translate(0, 0);
	}

	&-1 {
		top: 0;
		left: 0;
	}

	&-2 {
		bottom: 3%;
		left: -7%;

		@media (min-width: $breakpoint-small) {
			bottom: 5%;
			left: 15%;
		}
	}

	&-3 {
		top: 12%;
		right: -7%;

		@media (min-width: $breakpoint-small) {
			top: 0;
			right: 5%;
		}
	}

	&-4 {
		bottom: 0;
		right: 0;
	}
}

.tweets {
	height: 100vh;
	max-height: 500px;
	overflow: auto;
}

.social-links {
	@media (max-width: $breakpoint-small-max) {
		flex-direction: row;
	}

	> li {
		+ li {
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid currentColor;
			margin-top: 0;
		}
	}
}
