
.contact {

	&-banner {
		background-image: url('../images/contact.jpg');
	}

	&-title {
		text-align: center;
		font-size: 60px;
		font-family: $serif-font-family;

		@media (min-width: $breakpoint-small) {
			font-size: 100px;
		}
	}

	// &-article {

	// 	.section-row {
	// 		&:nth-child(even) {
	// 			@media (max-width: $breakpoint-medium-max) {
	// 				flex-direction: column-reverse;

	// 				> * {
	// 					margin: 0;

	// 					+ * {
	// 						margin: 0 0 20px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.tweet-list {
	@media (max-width: $breakpoint-medium-max) {
		flex-direction: column-reverse;

		> * {
			margin: 0;

			+ * {
				margin: 0 0 20px;
			}
		}
	}
}
