
.single {
	padding-top: 0;

	&-title {
		text-align: center;
		font-size: 40px;
		font-family: $serif-font-family;

		@media (min-width: $breakpoint-small) {
			font-size: 64px;
		}

		@media (min-width: $breakpoint-xlarge) {
			font-size: 86px;
		}
	}

	&-article {
		padding: 0 0 25px;
		font-size: 18px;
		font-weight: 200;

		@media (min-width: $breakpoint-small) {
			padding: 0 0 50px;
		}

		// &:after {
		// 	content: '';
		// 	display: block;
		// 	height: 1px;
		// 	width: 215px;
		// 	max-width: 80%;
		// 	left: 50%;
		// 	transform: translate(-50%, 0);
		// 	position: absolute;
		// 	background-color: $global-font-color;
		// }

		// &:after {
		// 	bottom: 0;
		// }

		img {
			border: 1px solid fade-out($global-font-color, 0.75);
			padding: 5px;

			@media (min-width: $breakpoint-small) {
				float: right;
				margin: 0 0 15px 25px;
				width: 50%;
			}

			@media (min-width: $breakpoint-large) {
				margin: 0 -50px 25px 50px;
			}

			// figcaption {
			// 	font-size: 14px;
			// 	padding: 5px 5px 0;
			// 	font-style: italic;
			// }
		}

		blockquote {
			display: block;
			margin: 0 0 15px;
			font-weight: 200;
			padding: 5px 15px;
			font-size: 22px;
			border-left-color: $color-orange;

			@media (min-width: $breakpoint-small) {
				float: left;
				width: 50%;
				margin: 0 25px 15px 0;
			}

			@media (min-width: $breakpoint-large) {
				margin: 0 50px 25px -50px;
			}
		}

		pre {
			font-size: 14px;
			line-height: (22 / 14);
		}

		* + p {
			margin-top: 1em;
		}
	}

	&-buttons {
		max-width: 800px;
		margin: 0 auto;

		// &:last-child {
		// 	margin-top: 50px;
		// }

		> li {
			width: 25%;
			padding-left: 10px;
			padding-right: 10px;

			+ li {
				margin-left: 0;
			}
		}

		.button {
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
	}

	&-footer {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;

		&:after,
		&:before {
			content: '';
			display: block;
			height: 1px;
			width: 215px;
			max-width: 80%;
			left: 50%;
			transform: translate(-50%, 0);
			position: absolute;
			background-color: $global-font-color;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		.article-lead {
			margin-top: 0;
			padding-top: 0;

			&:before,
			&:after {
				display: none;
			}
		}
	}

	&-blog {
		&-code {
			display: block;
			width: 100%;
			clear: both;
		}
	}
}

.related-work {
	&-section {
		@media (min-width: $breakpoint-medium) {
			margin: 0;
		}
	}

	&-grid {
		padding: 0;
		margin: 0;
		list-style: none;

		@media (min-width: $breakpoint-medium) {
			display: flex;
		}

		> li {
			@media (min-width: $breakpoint-medium) {
				width: 50%;
			}
		}
	}

	&-block {
		transform: none;
	}
}
