.Footer_footer_1-y {
  background-color: #2c3e50;
  padding: 60px 0 50px;
  position: relative;
  overflow: hidden;
  contain: style;
  line-height: 1;
}

.Footer_footer_1-y svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 1250px;
  transform: translate(-50%,-50%);
  opacity: 1;
  contain: style;
}

.Footer_footer_1-y svg~* {
  position: relative;
}

@media (max-width:479px) {
  .Footer_footer_1-y .Footer_flex_2c2 {
    flex-direction: column;
    align-items: center;
  }
}

.Footer_footer_1-y path {
  transition: stroke-dashoffset 2s;
}

.Footer_footer-nav_58p {
  font-weight: 200;
  font-size: 14px;
}

.Footer_footer-nav_58p ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.Footer_footer-nav_58p li+li {
  border-left: 1px solid hsla(0,0%,100%,.5);
  margin-left: 10px;
  padding-left: 10px;
}

.Footer_footer-nav_58p a {
  padding: 10px 3px;
}

.Footer_footer-nav_58p a,.Footer_footer-nav_58p a:focus,.Footer_footer-nav_58p a:hover {
  color: #fff;
}

@media (max-width:479px) {
  .Footer_footer-nav-right_1k3 ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:479px) {
  .Footer_footer-nav-right_1k3 li+li {
    border: 0;
    margin: 1em 0 0;
    padding: 0;
  }
}