<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0">
    <title>Page Not Found | Erik Nielsen | Chicago Senior UI Engineer</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="preload" onload="this.rel='stylesheet'" as="style">
    <link rel="canonical" href="https://312development.com/">
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="robots" content="index, follow">
    <meta name="web_author" content="Erik Nielsen">
    <meta name="google-site-verification" content="vyWEm34Gozx9VN-aZv3a9zdc34q6rvdznHIGDaVq8M8" />

    <!-- Open Graph Meta Data -->
   <meta property="fb:app_id" content="834389063291117">
   <meta property="og:type" content="website">
   <meta property="og:title" content="Page Not Found | Erik Nielsen | Chicago Senior UI Engineer">
   <meta property="og:url" content="https://312development.com/">
   <meta property="og:image" content="https://312development.com//homepage.jpg">
   <meta property="og:description" content="The portfolio site of Erik Nielsen, UI/UX engineer from Chicago.">

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@erikkylenielsen">
    <meta name="twitter:title" content="Page Not Found | Erik Nielsen | Chicago Senior UI Engineer">
    <meta name="twitter:description" content="The portfolio site of Erik Nielsen, UI/UX engineer from Chicago.">
    <meta name="twitter:image" content="https://312development.com//homepage.jpg">

    <!-- JSON-LD Code -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Erik Nielsen",
        "jobTitle": "Senior UI Software Engineer",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Chicago",
          "addressRegion": "Illinois"
        }
      }
    </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"><meta name="description" content="The portfolio site of Erik Nielsen, UI/UX engineer from Chicago."><link rel="shortcut icon" href="/icon.png">
  <%= cssFiles %>
</head>
  <body>
    <a href="#main" class="visually-hidden">Skip to main content</a>
    <noscript>This site requires JavaScript to be enabled - Please turn JavaScript on and visit again.</noscript>
    <div data-v-136ab948="" id="main" class="app">
      <div data-v-136ab948="" class="page">
        <div data-v-2ad82a3c="" data-v-136ab948="" class="home">
          <div data-v-11ac118c="" data-v-2ad82a3c="" class="canvas" data-in-view="true">
            <div data-v-11ac118c="" id="scene" class="scene scene--full"></div>
            <h1 data-v-11ac118c="">Page Not Found</h1>
            <h2 data-v-11ac118c="">You will be redirected to the homepage shortly</h2>
          </div>
        </div>
      </div>
      <button data-v-0156c501="" data-v-136ab948="" role="presentation" aria-label="Open Navigation" class="app-navigation-button"><span data-v-0156c501=""></span> <span data-v-0156c501=""></span> <span data-v-0156c501=""></span> <span data-v-0156c501=""></span></button>
    </div>
    <!-- Other HTML defined in build-config.js -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-33505945-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-33505945-1');
    </script>

  <%= jsFiles %>
</body>
</html>
