
$orchid: #f92672;
$brBlue: #66d9ef;
$henn1nk: #a6e22e;
$spice: #fd971f;
$classColour: #ffe792;
$parColour: #f8f8f2;

$animation-duration: 0.2s;

.animated-code {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.loader-container {
  width: 30vw;
  height:175px;
  overflow: hidden;
}

.line {
  margin-top:5px
}

.dash {
  height:20px;
  display: inline-block;
  border-radius: 10px
}

.div {
  background-color: $orchid;
}

.class-name {
  background-color: $henn1nk;
}

.class {
  background-color: $classColour;
}

.par {
  background-color: $parColour;
}

.exp-40 {
  animation: expand-40 $animation-duration linear forwards;
}

.exp-70 {
  animation: expand-70 $animation-duration linear forwards;
}

.exp-90 {
  animation: expand-90 $animation-duration linear forwards;
}

.exp-110 {
  animation: expand-110 $animation-duration linear forwards;
}

.exp-200 {
  animation: expand-200 $animation-duration linear forwards;
}

.exp-300 {
  animation: expand-300 $animation-duration linear forwards;
}

.line1 {
  .dash-1 {
    // animation-delay: ($animation-duration / 2);
  }

  .dash-2 {
    animation-delay: ($animation-duration / 2);
  }

  .dash-3 {
    animation-delay: $animation-duration;
  }

  .dash-4 {
    animation-delay: ($animation-duration * 1.5);
  }
}

.line2 {
  margin-left:10%;

  .dash-1 {
    animation-delay: ($animation-duration * 2);
  }

  .dash-2 {
    animation-delay: ($animation-duration * 2.5);
  }

  .dash-3 {
    animation-delay: ($animation-duration * 3);
  }
}

.line3 {
  margin-left:20%;

  .dash-1 {
    animation-delay: ($animation-duration * 3.5);
  }
}

.line4 {
  margin-left: 20%;

  .dash-1 {
    animation-delay: ($animation-duration * 4);
  }
}

.line5 {
  margin-left: 10%;

  .dash-1 {
    animation-delay: ($animation-duration * 4.25);
  }
}

.line6 {
  margin-left: 10%;

  .dash-1 {
    animation-delay: ($animation-duration * 4.5);
  }
}

.group-1 {
  animation: scroll 5s linear infinite;
  animation-delay: 5s;
  position: relative;
}

.group-2 {
  animation: scroll 5s linear infinite;
  animation-delay: 5s;
  position: relative;

  .line1 {
    .dash-1 {
      animation: line1dash1 1s linear infinite;
    }

    .dash-2 {
      animation: line1dash2 1s linear infinite;
    }

    .dash-3 {
      animation: line1dash3 1s linear infinite;
    }

    .dash-4 {
      animation: line1dash4 1s linear infinite;
    }
  }

  .line2 {
    .dash-1 {
      animation: line2dash1 1s linear infinite;
    }

    .dash-2 {
      animation: line2dash2 1s linear infinite;
    }

    .dash-3 {
      animation: line2dash3 1s linear infinite;
    }
  }

  .line3 {
    .dash-1 {
      animation: line3dash1 1s linear infinite;
    }
  }

  .line4 {
    .dash-1 {
      animation: line4dash1 1s linear infinite;
    }
  }

  .line5 {
    .dash-1 {
      animation: line5dash1 1s linear infinite;
    }
  }

  .line6 {
    .dash-1 {
      animation: line6dash1 1s linear infinite;
    }
  }
}

@keyframes line1dash1 {
  0% {width: 0; }

  20% {width: 40px; }

  100% {width: 40px; }
}

@keyframes line1dash2 {
  0% { width: 0; }

  10% { width: 0; }

  30% { width: 70px; }

  100% { width: 70px; }
}

@keyframes line1dash3 {
  0% { width: 0; }

  20% { width: 0; }

  40% { width: 110px; }

  100% { width: 110px; }
}

@keyframes line1dash4 {
  0% { width: 0; }

  30% { width: 0; }

  50% { width: 70px }

  100% { width: 70px; }
}

@keyframes line2dash1 {
  0% { width: 0; }

  40% { width: 0; }

  60% { width: 40px }

  100% { width: 40px; }
}

@keyframes line2dash2 {
  0% { width: 0; }

  50% { width: 0; }

  70% { width: 70px }

  100% { width: 70px; }
}

@keyframes line2dash3 {
  0% { width: 0; }

  60% { width: 0; }

  80% { width: 90px }

  100% { width: 90px; }
}

@keyframes line3dash1 {
  0% { width: 0; }

  60% { width: 0; }

  80% { width: 300px }

  100% { width: 300px; }
}

@keyframes line4dash1 {
  0% { width: 0; }

  70% { width: 0; }

  90% { width: 200px }

  100% { width: 200px; }
}

@keyframes line5dash1 {
  0% { width: 0; }

  75% { width: 0; }

  85% { width: 40px }

  100% { width: 40px; }
}

@keyframes line6dash1 {
  0% { width: 0; }

  85% { width: 0; }

  100% { width: 40px; }
}

@keyframes expand-40 {
  from { width: 0; }

  to { width: 40px; }
}

@keyframes expand-70 {
  from { width: 0; }

  to { width: 70px; }
}

@keyframes expand-90 {
  from { width: 0; }

  to { width: 90px; }
}

@keyframes expand-110 {
  from { width: 0; }

  to { width: 110px; }
}

@keyframes expand-200 {
  from { width: 0; }

  to { width: 200px; }
}

@keyframes expand-300 {
  from { width: 0; }

  to { width: 300px; }
}

@keyframes scroll {
  from { top: 0; }

  to { top: -175px; }
}
