
button,
input[type='submit'],
input[type='button'] {
  @include button;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.5em 1.5em;
  line-height: 1.5;
  cursor: pointer;
  transition: $transition-duration;
  -webkit-appearance: none;

  svg {
    margin-right: 0.25em;
  }
}

.button {
  @extend button;

  &--pink {
    @include button($color-pink);
  }

  &--purple {
    @include button($color-purple);
  }

  &__ghost {
    @include button-ghost;

    &--white {
      @include button-ghost($color-white);
    }
  }
}
