
html,
body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

// h1 {
//   font-family: $font-family-serif;
//   font-weight: 400;
//   font-style: italic;
//   font-size: 3rem;
// }

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h2,
h3,
h4 {
  font-weight: 800;
}

p {
  line-height: 1.5;
}
