// stylelint-disable no-descending-specificity

label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

input,
textarea,
select {
  border: 1px solid $border-color;
  background-color: $color-white;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: border-color $transition-duration;

  &:focus {
    border-color: $color-blue;
  }

  &[readonly] {
    cursor: default;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[readonly],
  &[disabled] {
    opacity: 0.5;

    &:focus {
      border-color: $border-color;
    }
  }
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    @include size(1rem);
    -webkit-appearance: none;
    display: inline-block;
    padding: 0;
    transition: none;
    cursor: pointer;
    position: relative;

    &:focus {
      border-color: $border-color;
    }

    &:checked {
      border-color: $color-blue;
    }

    &:after {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &[type='checkbox'] {
    &:after {
      content: '\2713';
      color: $color-blue;
      font-size: 14px;
    }

    &:checked {
      &:after {
        display: block;
      }
    }
  }

  &[type='radio'] {
    border-radius: 50%;

    &:after {
      content: '';
      height: 50%;
      width: 50%;
      border-radius: 50%;
      background-color: $color-blue;
    }

    &:checked {
      &:after {
        display: block;
      }
    }
  }
}

textarea {
  min-height: 150px;
  resize: none;
}

select {
  -webkit-appearance: none;
  cursor: pointer;
}
