
@import "lib/vars";
@import "lib/mixins";
@import "normalize";
@import "fonts";

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.canvas,
.content-section {
  min-height: 100vh;
}

.tool {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: ($tool-icon-size - 30px);
    max-width: ($tool-icon-size - 30px);
  }
}

// .section-title {
//   span {
//     display: inline-block;
//     opacity: 0;
//   }
// }

.app-loading {
  svg {
    @include size($loading-icon-width);
  }
}

button {
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
