
@import '~style/helpers';

.nav {
  margin-right: -15px;

  @media (max-width: $nav-breakpoint-max) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background: $background-color;
    margin: 0;
    transform: translateX(-70vw);
    transition: 0.5s transform;
    will-change: transform;
    z-index: 3;
  }

  a {
    display: inline-block;
    height: $header-height;
    line-height: $header-height;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    background: $transparent-white;
    position: relative;
    color: $background-color;

    @media (max-width: $nav-breakpoint-max) {
      color: $black;
      padding: 0;
      border-bottom: 1px solid fade-out($black, 0.85);
    }

    @media (min-width: $nav-breakpoint) {
      &::before {
        content: '';
        position: absolute;
        top: 48px;
        width: 0;
        height: 3px;
        background: $pink;
        transform: translate(-50%, 0);
        left: 50%;
        transition: 0.35s width 0.05s;
        will-change: width;
      }

      &:hover,
      &:active {
        &::before {
          width: calc(100% - 10px);
        }
      }
    }
  }

  .active {
    &::before {
      width: calc(100% - 10px);
    }
  }
}
