
@import '~style/helpers';

@keyframes onEnter {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
  position: relative;
  color: $white;
  line-height: 1;

  > * {
    display: flex;
    flex-direction: column;
    padding: 6em $gutter-width;

    @media (min-width: $breakpoint-medium) and (max-width: ($breakpoint-large - 1px)) {
      padding: 10em $gutter-width 9em;
    }
  }

  &.internal {
    > * {
      height: 450px;
      min-height: 50vh;

      @media (min-width: $breakpoint-medium) {
        min-height: 75vh;
      }
    }

    mark {
      display: inline;
    }
  }

  &:last-child {
    > * {
      min-height: calc(100vh - 67px);
      height: calc(100vh - 67px);
    }
  }

  &.left {
    > * {
      justify-content: center;
    }
  }

  &.center {
    > * {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &.bottom-left {
    > * {
      justify-content: flex-end;
    }
  }

  &.right {
    > * {
      justify-content: center;
      text-align: right;
    }
  }

  h1,
  h2,
  h3 {
    animation-duration: 1s;
    animation-name: onEnter;
    animation-fill-mode: both;
    margin: 0;

    [data-loading] & {
      animation-play-state: paused;
    }
  }

  h1 {
    font-size: 48px;
    animation-delay: 0.2s;

    @media (min-width: $breakpoint-small) {
      font-size: 64px;
    }

    @media (min-width: $breakpoint-medium) {
      font-size: 94px;
    }
  }

  h2 {
    font-size: 36px;
    margin: 0.25em 0;
    animation-delay: 0.4s;

    &:last-child {
      margin: 0;
    }

    @media (min-width: $breakpoint-small) {
      font-size: 52px;
    }

    @media (min-width: $breakpoint-medium) {
      font-size: 88px;
    }
  }

  h3 {
    font-size: 24px;
    animation-delay: 0.6s;

    @media (min-width: $breakpoint-small) {
      font-size: 40px;
    }
  }

  mark {
    background-color: transparent;
    color: $pink;
    display: block;
  }
}
